.field-hoot_icon { padding-top: 5px; }
.hybridext-icon-label {}
.hybridext-icon-picked { display: inline-block; font-size: 11px; line-height: 22px; cursor: pointer; float: right;
	background: #f7f7f7; -webkit-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.08); box-shadow: 1px 1px 0 rgba(0,0,0,.08); border: solid 1px #ccc; }
.hybridext-icon-picked i { font-size: 20px; padding: 2px 4px; width: 26px; text-align: center; background: #eee; float: left; }
.hybridext-icon-picked span {  display: inline-block; padding: 1px 7px; float: left;
	border-left: solid 1px #ccc; -webkit-border-radius: 0 2px 2px 0; border-radius: 0 2px 2px 0; }
.field-hoot_icon .clear { display: block; }
.hybridext-icon-picker-box { display: none; max-width: none; margin-right: 0px; margin-top: 5px; overflow: auto; max-height: 25em; background: #fff; padding: 5px 0 10px 10px; border: solid 1px #dfdfdf; position: relative; z-index: 10; }
.hybridext-icon-picker-box.hybridextshow { display: block; }
.hybridext-iconsection-title { display: block; font-weight: 600; font-style: normal; margin: 15px 0 10px; font-size: 1.1em; }
.hybridext-icon-picker-list { display: block; }
.hybridext-icon-picker-list:after { display: block; clear: both; width: 100%; content: ''; }
.hybridext-icon-picker-list i { font-size: 1.33em; float: left; width: 1em; border: 1px solid #e1e1e1; margin: 0 0 -1px -1px; padding: 0.5em; cursor: pointer; }
.hybridext-icon-picker-list i:hover,
.hybridext-icon-picker-list i:hover:before,
.hybridext-icon-picker-list i.selected { background: #2ea2cc; color: #fff; }
.hybridext-icon-picker-list .hybridext-icon-none { width: auto; padding: 2px 8px; margin-top: 8px; background: #f7f7f7; -webkit-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.08); box-shadow: 1px 1px 0 rgba(0,0,0,.08); }
.hybridext-icon-picker-list .hybridext-icon-none:before { color: #bbb; }
.hybridext-icon-picker-list .hybridext-icon-none span { font-family: "Open Sans",sans-serif; font-size: 11px; line-height: 14px; margin-left: 7px; vertical-align: 12%; }